$background-color: #080500;
$white: #fff;
$yellow-primary: #e3bc3f;
$border-button: 1px solid rgba(255, 255, 255, 0.15);
$blue-0a0: #0a0629;
$blue-011: #01162f;
$text-blur: rgba(255, 255, 255, 0.85);
$button-color: #363636;
